{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block body %}
<section class="about py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2>About Us</h2>
          <p>We are aiming to provide accessible mental health education to university students, aiding in their well-being and success. We understand the unique challenges that come with academic pursuits and the importance of mental wellness. MindWave is here to provide you with resources, support, and a sense of community as you navigate through the complexities of university life. Let's embark on this journey towards a healthier mind, together.</p>
        </div>
        <div class="col-lg-6">
          <img src="static/about_us.jpg" width='300' height='200' alt="About Us Image" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
{% endblock body %}