{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block body %}
<section class="about py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2>About Us</h2>
          <p>We are aiming to provide accessible mental health education to university students, aiding in their well-being and success. We understand the unique challenges that come with academic pursuits and the importance of mental wellness. MindWave is here to provide you with resources, support, and a sense of community as you navigate through the complexities of university life. Let's embark on this journey towards a healthier mind, together.</p>
        </div>
        <div class="col-lg-6">
          <img src="https://images.unsplash.com/photo-1604480132736-44c188fe4d20?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=350&q=80" alt="About Us Image" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
{% endblock body %}