{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block body %}
<section class="hero text-center py-5">
    <div class="container">
      <h2>Welcome to MindWave</h2>
      <p>Your gateway to mental health awareness and well-being.</p>
      <a href="#how-it-works" class="btn btn-primary">Get Started</a>
    </div>
  </section>

  <!--Caraousel Section-->
<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/front.jpg" width="400" height="500" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style='color:black'>You should not ignore the signs.</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="static/front2.jpg" width="400" height="500" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Most problems can be solved by thinking calmly.</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="static/front3.jpg" width="400" height="500" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Be mindful, think deeply and act timely.</h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

  <!--How it works section-->
  <section id='how-it-works' class="how-it-works bg-light py-5">
    <div class="container">
      <h2 class="text-center mb-4">How It Works</h2>
      <div class="row">
        <div class="col-md-4">
          <h4>1. Explore</h4>
          <p>Embark on a journey of exploration as you delve into a vast collection of educational articles, insightful videos, and interactive exercises meticulously curated to broaden your understanding of mental health. Our comprehensive resources cover an array of topics, empowering you with knowledge to make informed decisions about your well-being.</p>
        </div>
        <div class="col-md-4">
          <h4>2. Learn</h4>
          <p>Discover a wealth of knowledge and insights through our guided exercises, mindfulness techniques, and expert advice. The process of learning and self-discovery is fundamental to building a strong mental foundation. Engage with our platform to equip yourself with coping mechanisms, resilience strategies, and skills that will help you thrive in both your personal and academic life.</p>
        </div>
        <div class="col-md-4">
          <h4>3. Connect</h4>
          <p>Join a diverse and understanding community of fellow students who share their experiences, challenges, and triumphs. In our supportive virtual environment, you can connect with others who understand your journey. Share stories, offer encouragement, and foster meaningful connections. Together, we can break down the walls of isolation, creating a network of support and understanding.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Healthify Section -->
    <section id="healthify" class="text-center p-5">
        <h2>Healthify: Your Virtual Journey to Wellness</h2>
        <p>Embark on a unique journey to well-being by creating your personalized avatar and engaging in mental health mini-games in our virtual world.</p>
        <a href="/avatar" class="btn btn-primary">Create Your Avatar</a>
        <a href="/vWorld" class="btn btn-secondary">Enter the Virtual World</a>
    </section>
  
  <!-- Featured Resources Section -->
  <section class="featured-resources py-5">
    <div class="container">
      <h2 class="text-center mb-4">Featured Resources</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Managing Stress</h5>
              <p class="card-text">Stress, an unavoidable companion in academia, threatens both mental and physical health. At MindWave, we understand this challenge and offer valuable resources to manage it effectively. From relaxation exercises to time management strategies, we're here to help you find balance amid academic demands, by providing proven techniques and support.</p>
              <a href="/resources" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Understanding Anxiety</h5>
              <p class="card-text">Anxiety, a prevalent challenge among students, can often hinder academic progress and overall well-being. Understanding this condition is the first step towards managing it. MindWave provides resources that shed light on anxiety disorders, coping mechanisms, and ways to build resilience. Together, we aim to equip you with the knowledge to face anxiety head-on.</p>
              <a href="/resources#anxiety" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Building Resilience</h5>
              <p class="card-text">Building resilience is about bouncing back stronger when faced with adversity. In the academic world, resilience is a vital trait. MindWave offers insights and practices to help you build resilience, enhancing your ability to overcome challenges and emerge stronger. With the right strategies, you can navigate through the demands of university life while maintaining a positive mental outlook.</p>
              <a href="/resources#resilience" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Self-Assessment Section -->
  <section id='assessment' class="self-assessment bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2>Self-Assessment Tools</h2>
          <p>Understanding your mental well-being is the cornerstone of a healthier life. MindWave offers multiple self-assessment tools based on reputable models. These assessments provide valuable insights into your mental state, enabling you to identify areas of focus. Self-awareness is the first step towards growth, and by taking regular assessments you can take charge of your mental health journey. Begin your path to self-discovery by assessing your self now, because every step towards self-awareness is a step towards a better you.</p>
        </div>
        <div class="col-lg-6">
          <img src="static/self_assessment.jpg" width='350' alt="Self Assessment Image">
        </div>
        <div class="text-center">
          <a href="/assessment" class="btn btn-primary">Visit Assessment Lab</a>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Support Community Section -->
  <section class="support-community py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2>Join Our Support Community</h2>
          <p>Navigating the complexities of mental health is often easier with a sense of community. MindWave offers a dedicated support network where you can connect with fellow students facing similar challenges. Sharing experiences, advice, and encouragement creates a supportive ecosystem vital for mental well-being. Join our community, because healing and growth are nurtured together.
          </p>
        </div>
        <div class="col-lg-6">
          <img src="static/community.jpg" width='350' alt="Support Community Image">
        </div>
        <div class="text-center">
          <a href="/community" class="btn btn-primary">Join Community</a>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Find a Therapist Section -->
  <section class="find-therapist bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2>Find a Mental Health Professional</h2>
          <p>Seeking professional guidance is a courageous step toward better mental health. MindWave facilitates this journey by providing access to a directory of mental health professionals. Finding the right therapist can be transformative, and we are here to help simplify this process. Your mental wellness matters, and connecting with the right therapist can be a pivotal stride towards a happier, healthier you.</p>
        </div>
        <div class="col-lg-6">
          <img src="static/therapist.jpg" width='350' alt="Find Therapist Image" class="img-fluid">
        </div>
        <div class="text-center">
          <a href="/therapist" class="btn btn-primary">Find a Therapist</a>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Newsletter Signup Section -->
  <section class="newsletter-signup py-5">
    <div class="container">
      <h2 class="text-center mb-4">Subscribe to Our Newsletter</h2>
      <p class="text-center mb-4">Stay updated with our latest articles, events, and mental health insights.</p>
      <form class="text-center">
        <input type="email" class="form-control mb-2" placeholder="Enter your email">
        <button type="submit" class="btn btn-primary">Subscribe</button>
      </form>
    </div>
  </section>
{% endblock body %}